body {
  font: 20px/1.5 "Arial",sans-serif;
  color: rgba(35,30,30,0.9);
}
h1,h2,h3,h4,h5 {
  display: inline-block;
  font: 20px/1.5 "Arial",sans-serif;
  color: rgba(35,30,30,0.9);
}
h2 {
  float: right;
}
h5 {
  margin-bottom: 1.6rem;
  font: italic 15px/1.5 "Times","Times New Roman",serif;
  color: rgba(35,30,30,0.3);
}
h6 {
  margin-bottom: 2.25rem;
  font: italic 15px/1.5 "Times","Times New Roman",serif;
  color: rgba(35,30,30,0.3);
}
a {
  color: rgba(35,30,30,0.3);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
blockquote {
  padding-left: 16.875px;
  border-left: 2px solid rgba(35,30,30,0.3);
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
  color: rgba(35,30,30,0.3);
}
ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2.25rem;
}
ol {
  margin-left: 0;
  margin-bottom: 2.25rem;
}
.tumblr {
    color: #529ECC;
}

.mornings {
    color: #e65a2d;
}

.ss {
    color: #76c865;
}
